@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Cesar Paredes</h1>
    <h2>Soy un desarrollador full stack especializado en tecnoclogías .NET y JavaScript.</h2>

    <img 
        id="foto"
        src="~/imagenes/foto.png" alt="Foto de Cesar" />
</div>
